*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  text-align: center;
}
#addForm{
  text-align: left;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  background-color: rgb(147, 230, 255);
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 80%;
  font-size: 1.2rem;
}
.row{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
@media only screen and (max-width: 950px){
  #addForm{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    max-width: 50%;
  }
}
/* 750px!!! */

#resetButton, #addBookButton{
  min-height: 50px;
  min-width: 150px;
  font-size: 1.2rem;
}
#resetButton{
  background-color: rgb(255, 128, 128);
}
#addBookButton{
  background-color: rgb(128, 255, 128);
}
.button{
  display: grid;
  place-items: center;

}
#addForm > button{
  color: 
}


table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
border: 1px solid black;
padding: 8px;
text-align: left;
}