*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
  text-align: center;
  background-color: #6495ED;
}
.content{
  padding: 15px;
  margin: auto;
  margin-top: 50px;
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #E6E6FA;
}
.button-container{
  display: flex;
  align-items: center;
}
#newBookButton, #refreshButton, #resetButton, #addBookButton{
  padding: 10px 40px;
  font-size: 1.2rem;
  border-radius: 10px;
  margin: 20px;
  border: 1px solid #636363;
  width: fit-content;
}
#newBookButton, #refreshButton{
  background-color: #4169E1;
}
#resetButton, #addBookButton{
  background-color: #6495ED;
}
.button{
  display: grid;
  place-items: center;
}
.delete-button, .toggle-button{
  padding: 5px 20px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 1px solid #636363;
}
.delete-button{
  background-color: #1E90FF;
}
.toggle-button{
  background-color: #9370DB;
}
button{
  cursor:pointer;
}
button:active{
  transform: scale(0.98);
}
svg{
  width: 16px;
  margin-left: 5px;
}
#addForm{
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: left;
  margin: auto;
  margin-bottom: 15px;
  padding: 15px;
  max-width: 80%;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #D6E4EC;
}
@media only screen and (max-width: 1010px){
  #addForm{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    max-width: 50%;
  }
}
fieldset{
  border-radius: 5px;
  padding: 15px;
  border: 1px solid black;
}
legend{
  font-weight:bold;
}
.radio-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
.row > input{
  min-height: 25px;
}
.row{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
label{
  margin-bottom: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
border: 1px solid black;
padding: 8px;
text-align: left;
}