*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
html{
  text-align: center;
  background-color: rgb(255, 224, 247);
}
#newBookButton{
  margin:15px 0px;
  padding: 10px 40px;
  font-size: 1.5rem;
  border: 1px solid #636363;
  box-shadow: 2px 2px 10px rgb(65, 65, 65);
  border-radius: 10px;
  background-color: rgb(128, 255, 128);
  color: black;
}
#addForm{
  text-align: left;
  margin: auto;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  background-color: rgb(147, 230, 255);
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 80%;
  font-size: 1.2rem;

}
fieldset{
  max-width: 200px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid black;
}
.radio-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

legend{
  font-weight:bold;
}
.row > input{
  min-height: 25px;
}
.row{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
label{
  margin-bottom: 5px;
}
@media only screen and (max-width: 950px){
  #addForm{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    max-width: 50%;
  }
}
#resetButton, #addBookButton{
  padding: 10px 40px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  border: 1px solid #E5E7EB;
  border-radius: 10px;
  border: 1px solid #636363;

}
#resetButton{
  background-color: rgb(255, 128, 128);
}
#addBookButton{
  background-color: rgb(128, 255, 128);

}
.button{
  display: grid;
  place-items: center;
}
.delete-button{
  background-color: rgb(255, 128, 128);
  padding: 5px 20px;
  font-size: 1.5rem;
  border: 1px solid #E5E7EB;
  border-radius: 10px;
  border: 1px solid #636363;

}
.toggle-button{
  background-color: rgb(147, 230, 255);
  padding: 5px 20px;
  font-size: 1.5rem;
  border: 1px solid #E5E7EB;
  border-radius: 10px;
  border: 1px solid #636363;

}
button:active{
  transform: scale(0.98);
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
border: 1px solid black;
padding: 8px;
text-align: left;
}